<!DOCTYPE html>
<html>
 <head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<title>tenderHire | available tenders</title>
	
	<link rel='stylesheet' type='text/css' href='static/style.css' />
	
	<!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='js/dynamicpage.js'></script>
    <script type='text/javascript' src='./static/js/style.js'></script>
	<script>
		function openform()
		{
			document.getElementById('id01').style.display="block";
		}

		function closeform()
		{
			document.getElementById('id01').style.display="none";
		}
	</script>
</head>

<body>


    <?php include('../header.php'); ?>
     <div class="nav-bar">
	    <nav>
		    	
		   	<div class="header-logo">
            			<a class="site-logo" href="index.html">
	                		<img src="./static/images/logo.svg" alt="Homepage">
	    			</a>
        		</div> <!-- end header-logo -->

		    	<ul>
			<li><a  href="{{ url_for('home') }}">Home</a></li>
			<li><a  href="{{ url_for('contractor') }}">Suppliers</a></li>
			<li><a  href="{{ url_for('customer') }}">Customers</a>
		    	</ul>
	   </nav>
    </div>
    <section id="main-content">
	<div id="guts">
		<div class="about-section">
			
			<div class="sector-3" style="margin-top: 40px;">
			<hr>			
			<table class="tender-content" style="width: 100%; margin-top: 2%; margin-left: 0%; color: yellow; font-size: 1rem">
				<tr>
					<th>Company</th>
					<th>Country</th>
					<th>Tender</th>
					<th>Category</th>
					<th>Bid</th>
					<th>Tender Statement</th>
				
				</tr>	
				{% for data in data %}
					<tr>
						<td>{{data[1]}}</td>
						<td>{{data[2]}}</td>
						<td>{{data[3]}}</td>
						<td>{{data[4]}}</td>
						<td style="padding-left: 80px;">{{data[5]}}</td>
						<td style="margin-left: 4%;">
							<div class="dropup">
								<button class="dropbtn">Statement</button>
								<div class="dropup-content">
									<a href="{{url_for('downloadFile')}}">Download</a><hr>
									<button class="form" onclick="openform()">Submit</button>
								</div>
							</div>
							<td>
					</tr>
		
					{% endfor %}
				</table>
				<div id="id01" class="modal">
				<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
				<div class="form-popup" id='form'>
					<form action="/AvailableTenders" method='POST' enctype="multipart/form-data">
  						<div class="container" style="background-color:black">
    							<input type="file" placeholder="upload requirements" name="File" required>
    							<input type="text" placeholder="Email address" name="mail" required>
  						</div>

  						<div class="container">
    							<input type="submit" value="Submit" onclick="closeform()">
  						</div>
					</form>
				</div>
				</div>
			</div>

		</div>
		<div class="information-footer" style="margin-top: 30%">
				<hr>
				<footer class="footer-distributed">

			<div class="footer-left">

				<h3>TenderHire<span><img src="../static/images/logo.svg"  style="margin-left: 0;"alt="LOGO"></span></h3>

				<p class="footer-links">

					<a  href="{{ url_for('login') }}">Login</a>
					<a  href="{{ url_for('register') }}">Register</a>
					<a  href="{{ url_for('contractor') }}">Suppliers</a>
					<a  href="{{ url_for('customer') }}">Customers</a>
					<a  href="{{ url_for('tenders') }}">Tenders</a>
				</p>

			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Meru University</span> Meru, Kenya</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+254 712 075 893</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">codersdev@v3dsr3d0c.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
				TenderHire is a global online tender bidding and posing company.Each and every 
				individual across the globe can access and use it.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>
							<p class="footer-company-name">/dev/0x00@ v3dsr3d0c © 2020</p>



	<?php include('../footer.php'); ?>

</body>

</html>

