<!DOCTYPE html>
<html>
 <head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>tenderHire | Login</title>
	
	<link rel='stylesheet' type='text/css' href='static/style.css' />
	
	<!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='js/dynamicpage.js'></script>
</head>

<body>


    <?php include('../header.php'); ?>
     <div class="nav-bar">
	    <nav>
		   	<div class="header-logo">
            			<a class="site-logo" href="index.html">
	                		<img src="./static/images/logo.svg" alt="Homepage">
	    			</a>
        		</div> <!-- end header-logo -->
 
		    	<ul>
			<li><a  href="{{ url_for('register') }}">Register</a></li>
			<li><a  href="{{ url_for('home') }}">Home</a></li>

		    	</ul>
	   </nav>
    </div>
    <section id="main-content">
	<div id="guts">
		<div class="about-section">
			<div class='image-2'>
				<img  src="./static/images/hero-bg.jpg" alt="image" width='500px' height='400px'>
				</div>

			</div>
			<div class="section-paragraph" align='left'>
			<h1>tenderHire | Register <hr class="horizantal"></h1>
			<form method="POST" action='' style="padding-bottom: 70px;">
				<span class="text-center">login</span>
				<div class="input-container">
					<input type="mail" required="" name="Email">
					<label>Email</label>		
				</div>
				<div class="input-container">		
					<input type="password" required="" name="Password">
					<label>Password</label>
				</div>
					<input type="submit" value="Register" class="btn" style="width: 450px; height: 40px; margin-left: 10%;">
				<p> Not yet a member?<a  href="{{ url_for('login') }}">Register</a></p>

			</form>		

			<hr class="horizantal-1" style="margin-bottom: 10%;"></p>
			</div>
			<div class="information-footer" style="margin-top: 50%">
				<hr>
				<footer class="footer-distributed">

			<div class="footer-left">

				<h3>TenderHire<span><img src="../static/images/logo.svg"  style="margin-left: 0;"alt="LOGO"></span></h3>

				<p class="footer-links">

					<a  href="{{ url_for('login') }}">Login</a>
					<a  href="{{ url_for('register') }}">Register</a>
					<a  href="{{ url_for('contractor') }}">Suppliers</a>
					<a  href="{{ url_for('customer') }}">Customers</a>
					<a  href="{{ url_for('tenders') }}">Tenders</a>
				</p>

			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Meru University</span> Meru, Kenya</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+254 712 075 893</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">codersdev@v3dsr3d0c.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
				TenderHire is a global online tender bidding and posing company.Each and every 
				individual across the globe can access and use it.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>
							<p class="footer-company-name">/dev/0x00@ v3dsr3d0c © 2020</p>



	<?php include('../footer.php'); ?>

</body>

</html>
